<app-navbar></app-navbar>
<div class="centered-content">
  <div class="modal-box">
    <h1 class="title has-text-centered">
      How many tries will the computer need to guess a number from 1 to 50 000
    </h1>
    <br /><br />
    <div class="buttons is-centered">
      <button class="button is-danger is-medium" routerLink="/">Back</button>
      <button
        (click)="onClick()"
        class="button is-primary has-text-white is-medium"
      >
        Start
      </button>
    </div>
  </div>
</div>

<div class="answer centered-content">
  <div
    style="display: flex; justify-content: center; align-items: center;"
    class="modal-box"
  >
    <h1
      [ngClass]="answer ? 'has-text-link-dark' : 'has-text-danger'"
      class="title"
    >
      {{ message }}
    </h1>
    <h1 *ngIf="!message" class="title">
      Please Click on the Start button
    </h1>
  </div>
</div>
