<nb-card>

    <nb-card-header>
        <h1>Hi !</h1><h4>I'm Charlotte Beck</h4>
    </nb-card-header>

    <nb-card-body>
        <div class="text-body">
            Here is my take on the <a href="https://github.com/mi8/Challenge">MI8 Challenge</a> !
            <br>
            <p class="description text-body">
                This website contains :
                <br>
                <br>
                An public api consumption of <a href="https://scryfall.com/docs/api">
                    <span>
                        <img src="../../../assets/m15.svg" alt="logo"/>
                    </span>
                    <span class="hidden">
                        Magic: The Gathering
                    </span>
                </a> card data from the Magic 2015 card set.
                <!-- <br> -->
                <!-- This card data is also accessible offline, using JSON server extension to process the data locally. -->
                <br>
                <br>
                A hidden number game, consumed with a local api that generates a random number between 1 and 50 000.            
                <br>
            </p>
        </div>        
    </nb-card-body>

    <nb-card-footer>
        <div>
            <p class="text-footer">
                This was made using Angular <a href="https://akveo.github.io/nebular/">Nebular theme</a>.
                <br>
                <a href="https://github.com/charlotte-beck">My GitHub</a>
                <br>
                July, 10 2020
            </p>
        </div>        
    </nb-card-footer>

</nb-card>